/*
*   Created by: Yuri Borovik
*   Email: yuri.borovik@gmail.com
*   Date: 13.04.2016
*   Time: 12:47
*   
*   Project: lanet TV
*   File: ltNativeInstallBanner.less
*/
lt-native-install-banner {
	position:   fixed;
	bottom:     -166px;
	width:      100%;
	z-index:    9;
	height:     160px;
	background: white;
	}

homepage-banner-application {
	position: absolute;
	top:      16px;
	left:     16px;
	width:    230px;
	height:   90px;
	}

.homepage-banner-rating-star {
	width:  24px;
	height: 24px;
	}

homepage-banner-install-button {
	position: absolute;
	bottom:   16px;
	right:    16px;
	}

homepage-banner-close-button {
	position: absolute;
	top:      16px;
	right:    16px;
	}

homepage-banner-platform {
	position: absolute;
	bottom:   16px;
	left:     82px;
	height:   38px;
	@media screen and (max-width:359px) {
		left: 16px;
		}
	}

homepage-banner-platform text {
	line-height: 40px;
	}

.homepage-banner-tv-logo {
	height: 56px;
	float: left;
	}

.homepage-banner-android-logo {
	height:         20px;
	display:        inline-block;
	-webkit-filter: opacity(.7);
	}